* {
    background-color: aquamarine;
    font-family: 'Courier New', sans-serif;
    color: black
}

.title.heading {
    text-align: center;
    font-size: 48pt;
}

.heading {
    font-weight:bold;
    font-size: 24pt;
    color:plum
}

img {
    width: 250px;
    height: auto;
}
a {
    color:palevioletred
}